.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 17px;
  margin: 50px 0;
  column-gap: 20px;
}

.element {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  max-width: 282px;
  max-height: 361px;
  position: relative;
}

.element__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.element__card-bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 21px;
  margin-right: 15px;
}

.element__name {
  color: black;
  font-family: "Inter 900";
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like {
  max-width: 21px;
  max-height: 19px;
  align-self: center;
}

.element__like:hover {
  background-image: url("../images/UIkit/like_hover.png");
}

.element__like:active {
  background-image: url("../images/UIkit/like_black.png");
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 17px;
    column-gap: 20px;
    max-width: fit-content;
    margin: 50px auto;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .elements {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
  }
}
