.profile {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  max-width: 880px;
  padding: 0;
}

.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
}

.profile__content {
  display: flex;
  flex-direction: column;
}

.profile__info {
  display: flex;
  max-width: 415px;
  margin: 0;
  padding: 22px 0 21px 30px;
  gap: 18px;
  align-content: center;
}

.profile__name {
  margin: 0;
  font-family: "Inter 500";
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__bio {
  font-family: "Inter 400";
  font-size: 18px;
  margin: 0 30px 0;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background-color: transparent;
  padding: 0;
  border: 0;
  margin-top: 15px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add {
  align-self: center;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.profile__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .profile {
    width: 680px;
    margin: 0 auto;
  }

  .profile__name {
    font-size: 38px;
  }

  .profile__edit-button {
    margin: 7px 30px 0 12px;
  }

  .profile__add {
    margin: 33px 0 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .profile__content {
    max-width: 282px;
    margin: 0;
    padding: 30px 19px 0;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
    display: flex;
    justify-content: center;
    margin: 4px 0 0 10px;
  }

  .profile__bio {
    text-align: center;
  }

  .profile__add {
    margin-top: 36px;
    width: 100%;
    max-width: 282px;
  }
}
